<h1><%=@book.title%></h1>

  <% if @book.quotes.size > 0 %>
  <p><%= @book.quotes.length %> quote(s) found</p>
    <h3>Quotes:</h3>

    <ul>
      <% @book.quotes.each do |quote| %>
        <li>
          <%= quote.content %>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;-<%= link_to quote.book.author.name, author_path(quote.book.author) %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
      <h3>This book has no quotes</h3>
  <% end %>
